<h1 class="mt-3">Crea tus Publicaciones</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Back to publications", publications_path,  class: "btn btn-primary" %>
</div>
